// VARIABLES________________________________________________________________________________
$color-primary: #FFDB58;
$color-secundario: black;
$color-tercero: white;
$color-fondo: #aaa;
$box-shadow: 0 2px 10px 0 rgba(0,0,0,0.6);

$limite: 10;
$unidad: 8px;